name: Swift

on: [push]

jobs:
  build:

    runs-on: macOS-10.15

    steps:
    - uses: actions/checkout@v2
    - name: Set Xcode version
      run: sudo xcode-select --switch /Applications/Xcode_11.4.app
    - name: Log Xcode version
      run: /usr/bin/xcodebuild -version
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
